<style> 
img {
    width: 40%;
    height: 300px;
    display: inline;
    margin: 5%;
}
</style>

<h1>Second Page</h1>
<p> Hello {{name}}</p>
<p>
    <img src="img/sum1.png">
    <img src="img/sum2.png">
</p>
<a href="/">Back</a>