body {
    width: 70%;
    margin: auto;
    font-family: Arial;
}
div {
    margin: 20px;
}
p {
    padding: 10px;
}
.red {
    color: red;
}
.😁 {
    color: rgb(229, 181, 67);
}
a {
    font-weight:bolder;
}
a:target {
    color: rgb(102, 255, 0);
}
a:hover { 
    color: green;
    font-size: large; 
}
button {
    display: block;
    width: calc(200px -10%);
    height: 100px;
    margin: auto;
    text-align: justify;
    background-color: royalblue;
}
.cursor {
    cursor: none;
}
input {
    margin-left: 30px;
}
input:changed:valid{
    border-color: rgb(76, 193, 26);
}
input:changed:invalid{
    border-color: rgb(122, 44, 2);
}
* {
    outline: solid grey thin;
}
*:active{
    outline-width: thick;
}